<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <center><div>
    <h2>Login</h2>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <label>Email:</label>
        <input type="email" th:field="*{email}" required/><br><br>

        <label>Password:</label>
        <input type="password" th:field="*{password}" required/><br><br>

        <button type="submit">Login</button>
        <button onclick="goBack()">Back</button>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </form>
    <p th:text="${message}"></p>
</div></center>
</body>
</html>